$c-gray: #504f5e;
$c-main: #cd4d31;
$c-white: #f1f5f4;
$c-background: #3f5252;
$c-background-white: #e5e5e5;
$c-black: #1c1b29;

$f-Raleway: 'Raleway', sans-serif;
$f-Playfair-Display: 'Playfair Display', serif;
